* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: block;
  background-color: #626550;
  height: 180px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.titulo {
  display: block;
  font-family: 'Amita', cursive;
  font-size: 60px;
  color: #E9C29E;
  text-align: center;
  height: 80px
}

.subtitulo {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  font-family: 'Sacramento', cursive;
  color: #E4CEE3;
  font-size: 35px;
  text-align: center;
}

.encabezado a {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu li:hover {
  background-color: #8a8d7a;
}

.menu ul li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
  text-align: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 28px;
}






.bienvenida {
  text-align: center;
  margin: 254px 368px;
  position: absolute;
}

.bienvenida p {
  font-size: 40px;
  background-color: #ece8ecb4;
  height: 537px;
  width: 700px;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #2e2e2e;
}

.container {
  width: 100%;
  margin-top: 283px;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding: 4px;
}

.tutorial {
  position: relative;
  width: 800px;
  height: 500px;
  padding: 50px;
  background-color: #ada984;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.portada img {
  height: 950px;
  width: 1343px;
}

.ruta {
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.seccion {
  width: 100%;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
}

.titular {
  font-family: 'Josefin Sans', sans-serif;
  color: #2e2e2e;
}

.descripcion {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.consejo {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.footer {
  height: 100%;
  background-color: #626550;
  height: 100px;
  font-family: 'Outfit', sans-serif;
}

footer p {
  margin: 16px 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
